@model JavaFxToASPDotNet.Models.Knjiga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Knjiga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Izdavac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Izdavac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jezik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jezik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raspolozivost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raspolozivost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
